{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}
{% load review_tags %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="/static/js/review_stars.js"></script>
{% endblock %}

{% block content %}
<div id="content">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
        alt="product-image" class="img-fluid">
    </div>
    <div class="col-lg-6">
      <h1>{{ product.name }}</h1>
      <h2 class="text-muted">{{ product.category }}</h2>
      <p class="lead font-weight-bold text-primary">€{{ product.price }}</p>
      <hr>
      <p class="text-muted">{{ product.description }}</p>
      <hr>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ cart_product_form.quantity.id_for_label }}">Quantity:</label>
          {{ cart_product_form.quantity }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary">
            <i class="fas fa-shopping-cart"></i> Add to cart
          </button>
        </div>
      </form>
      
    </div>
  </div>

  {% with reviews.count as total_reviews %}
  <h3><strong>{{ total_reviews }} review{{ total_reviews|pluralize }}</strong></h3>
  {% endwith %}

  {% if reviews %}
  {% with reviews|average_review as avg_review %}
  <div class="review-stars" id="review-{{ review.id }}-stars">
    <p>Average review: {{ avg_review }} <span class="fa fa-star star-selected"></span></p>
  </div>
  {% endwith %}
  {% endif %}


  <h2>Add a new review</h2>
<div class="card my-4">
  <div class="card-body">
    <form action="{% url 'shop:product_detail' id=product.id slug=product.slug %}#reviews" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ review_form.body.id_for_label }}">Write your review</label>
        <textarea class="form-control" rows="5" style="resize:none;" name="{{ review_form.body.name }}"
          id="{{ review_form.body.id_for_label }}" required
          placeholder="Write your review">{{ review_form.body.value }}</textarea>
      </div>
      <div class="form-group">
        <label for="{{ review_form.rating.id_for_label }}">Rate this product</label>
        {% include "shop/includes/rating_stars.html" %}
        {{ review_form.rating }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% for review in reviews %}
  <div class="card my-3">
    <div class="card-body">
      <h5 class="card-title">{{ review.user.username }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ review.created }} </h6>
      <div class="review-stars" id="review-{{ review.id }}-stars">
        {% for i in "x"|rjust:review.rating %}
        <span class="fa fa-star star-selected"></span>
        {% endfor %}
      </div>
      <p class="card-text">{{ review.body }}</p>
      {% if user.is_authenticated %}
        {% if review.user == user %}
          <form method="post" action="{% url 'shop:edit_review' product.id product.slug review.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary edit"><i class="far fa-edit"></i></button>
            <input type="hidden" name="body" value="{{ review.body }}">
          </form>
          <form method="post" action="{% url 'shop:delete_review' product.id product.slug review.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary edit"><i class="far fa-trash-alt"></i></button>
          </form>
        {% endif %}
      {% endif %}      
    </div>
  </div>
{% empty %}
<p>There are no reviews.</p>
{% endfor %}
</div>
{% endblock %}