{% extends "shop/base.html" %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<h1>Checkout</h1>
<div class="order-info">
  <h3>Your order</h3>
  <ul>
    {% for item in cart %}
    <li>
      {{ item.quantity }}x {{ item.product.name }}
      <span>€{{ item.total_price }}</span>
    </li>
    {% endfor %}
    {% if cart.coupon %}
    <li>
      "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
      <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
    </li>
    {% endif %}
  </ul>
  <p>Total: €{{ cart.get_total_price_after_discount|floatformat:2 }}</p>
</div>
<form method="post" class="order-form">
  <h3 class="form-title">Personal Information</h3>
  <div class="form-group">
      <label for="{{ shipping.first_name.id_for_label }}">First Name:</label>
      <input type="text" name="first_name" id="first_name" class="form-control">
      {% if form.first_name.errors %}
      <div class="alert alert-danger" role="alert">
          {% for error in form.first_name.errors %}
          {{ error }}
          {% endfor %}
      </div>
      {% endif %}
  </div>
  <div class="form-group">
      <label for="{{ shipping.last_name.id_for_label }}">Last Name:</label>
      <input type="text" name="last_name" id="last_name" class="form-control">
      {% if form.last_name.errors %}
      <div class="alert alert-danger" role="alert">
          {% for error in form.last_name.errors %}
          {{ error }}
          {% endfor %}
      </div>
      {% endif %}
  </div>
  <div class="form-group">
      <label for="{{ shipping.email.id_for_label }}">Email:</label>
      <input type="email" name="email" id="email" class="form-control">
      {% if form.email.errors %}
      <div class="alert alert-danger" role="alert">
          {% for error in form.email.errors %}
          {{ error }}
          {% endfor %}
      </div>
      {% endif %}
  </div>
  <h3 class="form-title">Shipping Information</h3>
  <div class="form-group">
      <label for="{{ shipping.address.id_for_label }}">Address 1:</label>
      <input type="text" name="address" id="address" class="form-control">
      {% if form.address.errors %}
      <div class="alert alert-danger" role="alert">
          {% for error in form.address.errors %}
          {{ error }}
          {% endfor %}
      </div>
      {% endif %}
  </div>
  <div class="form-group">
    <label for="{{ shipping.address2.id_for_label }}">Address 2:</label>
    <input type="text" name="address2" id="address2" class="form-control">
    {% if form.address2.errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.address2.errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}
</div>
  <div class="form-group">
      <label for="{{ shipping.postal_code.id_for_label }}">Postal Code:</label>
      <input type="text" name="postal_code" id="postal_code" class="form-control">
      {% if form.postal_code.errors %}
      <div class="alert alert-danger" role="alert">
          {% for error in form.postal_code.errors %}
          {{ error }}
          {% endfor %}
      </div>
      {% endif %}
  </div>
  <div class="form-group">
      <label for="{{ shipping.city.id_for_label }}">City:</label>
      <input type="text" name="city" id="city" class="form-control">
      {% if form.city.errors %}
      <div class="alert alert-danger" role="alert">
          {% for error in form.city.errors %}
          {{ error }}
          {% endfor %}
      </div>
      {% endif %}
  </div>
  <p><input type="submit" value="Place order"></p>
  {% csrf_token %}
</form>

{% endblock %}