{% extends "shop/base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body text-center">
            <h1>Password changed</h1>
            <p>Your password has been successfully changed.</p>
            <p>Please log in again to continue using our services.</p>
            <hr>
            <p>If you did not authorize this change, please contact our support team immediately.</p>
            <p>Thank you for choosing our website.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
