{% extends "shop/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-4">
          <div class="card-body">
            <h1 class="text-center mb-4">Reset your password</h1>
            {% if validlink %}
              <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="{{ form.new_password1.id_for_label }}">New password:</label>
                  {{ form.new_password1 }}
                  <small class="form-text text-muted">The password can't be too similar to the last one.</small>
                </div>
                <div class="form-group">
                  <label for="{{ form.new_password2.id_for_label }}">Confirm password:</label>
                  {{ form.new_password2 }}
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block mt-4">Reset Password</button>
                </div>
              </form>
            {% else %}
              <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
