{% extends "shop/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-4">
          <div class="card-body">
            <h1 class="text-center mb-4">Reset your password</h1>
            <p class="text-center">We've emailed you instructions for setting your password.</p>
            <p class="text-center">If you don't receive an email, please make sure you've entered the address you registered with.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
