{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This best jewelry shop has something for evryone.
  Buy anniversary, birthday, valentines or engagement gifts here!">
  <title>{% block title %} Old Town Jewels {% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/js.cookie.js' %}"></script>
  <script src="https://kit.fontawesome.com/aba9c8794f.js" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  {% endblock %}
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand logo" href="{% url 'users:logout' %}">
      <img src="{% static 'images/logo-otj.png' %}" width="auto" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-user"></i> Welcome, {{ user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'users:edit' %}"><i class="fa fa-user-circle"></i> Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa fa-sign-out"></i> Log Out</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop:home' %}">Shop</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>




  {% include 'shop/includes/messages.html' %}
  {% block subheader %}
  {% if user.is_authenticated %}
  <div class="cart-wrapper">
    <div class="cart-side">
      {% with total_items=cart|length %}
      {% if total_items > 0 %}
      <div class="cart-icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="cart-info">
        <span class="cart-total"><a href="{% url 'cart:cart_detail' %}">{{ total_items }}
            item{{ total_items|pluralize }}, €{{ cart.get_total_price }}</a></span>
        <div class="cart-items">
          <ul>
            {% for item in cart %}
            <li>{{ item.quantity }}x {{ item.product.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% elif not order %}
      <div class="cart-icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="cart-info">
        <span class="cart-total">Your cart is empty.</span>
      </div>
      {% endif %}
      {% endwith %}
    </div>
  </div>
  {% endif %}
  {% endblock %}


  {% block content %}
  <div class="container my-5">
    <div class="row">
      {% for product in product_list %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }}</p>
            <a href="{% url 'shop:product_detail' product.id product.slug %}" class="btn btn-primary">View product</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
  {% block footer %}
  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-brand">
            <img src="{% static 'images/logo-otj.png' %}" width="50" height="50" alt="Old Town Jewels Logo">
            <h3 class="text-white mt-3">Old Town Jewels</h3>
            <p class="text-muted">We offer a unique collection of vintage and antique jewelry.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-links">
            <h4 class="text-white">Quick Links</h4>
            <ul class="list-unstyled text-muted">
              <li><a href="{% url 'shop:index' %}">Home</a></li>
              <li><a href="{% url 'shop:home' %}">Products</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-newsletter">
            <h4 class="text-white">Subscribe to Our Newsletter</h4>
            <form action="{% url 'users:subscribe' %}" method="post" class="form-inline">
              {% csrf_token %}
              <div class="form-group mr-2">
                <input type="text" name="name" class="form-control newsletter-input" placeholder="Your Name">
              </div>
              <div class="form-group mr-2">
                <input type="email" name="email" class="form-control newsletter-input" placeholder="Email Address">
              </div>
              <button type="submit" class="btn btn-primary newsletter-button">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/ot__jewels/">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/profile.php?id=100089850577128">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/old_townjewels">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
          <p class="text-muted mb-0">&copy; Old Town Jewels <script>document.write(new Date().getFullYear())</script>. All rights reserved.</p>
        <a href="https://www.freepik.com/free-photo/portrait-beautiful-blonde-lady-stylish-white-silk-dress-checkered-jacket-pearl-necklace-gently-touching-neck-posing-city-square_15696142.htm#query=jewelry%20model&position=25&from_view=search&track=ais">Image by lookstudio</a> on Freepik
        </div>
      </div>
    </div>
  </footer>
{% endblock %}


</body>


</html>