{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<!-- Content section-->
<div class="content">
    <div class="py-5 bg-image-full"
        style="background-image: url('https://res.cloudinary.com/dd9o1h7oh/image/upload/v1677369718/hero-image_1_wa8wl9.jpg')">
    </div>

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Your one-stop shop for all things sparkling and beautiful</h2>
                    <p class="mb-0">
                        Our online jewelry store offers a wide selection of
                        hand-picked pieces from some of the most talented designers in the industry.
                        From classic diamond engagement rings to trendy fashion jewelry,
                        we have something for everyone. Our collection includes a range of styles,
                        from modern and minimalist to vintage-inspired.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="second-img">
        <div class="py-5 bg-image-full"
            style="background-image: url('https://res.cloudinary.com/dd9o1h7oh/image/upload/v1674638886/edgar-soto-gb0BZGae1Nk-unsplash_pitob7_1_yvh54e.jpg')">
            <div style="height: 20rem"></div>
        </div>
    </div>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Where pride and quality meets</h2>
                    <p class="mb-0"> Our team is dedicated to helping you find the perfect piece to suit your style and
                        budget.
                        We are constantly updating our collection with new designs, so be sure to check back often.
                        Whether you're shopping for yourself or looking for the perfect gift, we have something for
                        every
                        occasion.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="second-img">
        <div class="py-5 bg-image-full"
            style="background-image: url('https://res.cloudinary.com/dd9o1h7oh/image/upload/v1674638934/pexels-marta-branco-1395306_ygwied_1_gnnlhm.jpg')">
            <div style="height: 20rem"></div>
        </div>
    </div>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Sign up today to discover our amazing offers</h2>
                    <p class="mb-0"> Click on the sign up on the top left! Register with us and discover our amazing
                        offers.
                        Signing up is easy, you only need
                        to choose a unique username and a password.
                    </p>

                </div>
            </div>

        </div>
    </section>
</div>
{% endblock %}