{% load static %}
{% load humanize %}
{% block scripts %}
{% endblock %}

{% if rating %}
    <div class="rating-select btn-group" role="group" aria-label="Rating">
      {% for i in "12345" %}
      {% if i == rating %}
          <button type="button" class="btn btn-warning btn-sm" value="{{ i }}"><i class="fas fa-star"></i></button>
        {% else %}
          <button type="button" class="btn btn-default btn-sm" value="{{ i }}"><i class="fas fa-star"></i></button>
        {% endif %}
      {% endfor %}
    </div>
{% else %}
    <div class="rating-select btn-group" role="group" aria-label="Rating">
      <button type="button" class="btn btn-default btn-sm" value="1"><i class="fas fa-star"></i></button>
      <button type="button" class="btn btn-default btn-sm" value="2"><i class="fas fa-star"></i></button>
      <button type="button" class="btn btn-default btn-sm" value="3"><i class="fas fa-star"></i></button>
      <button type="button" class="btn btn-default btn-sm" value="4"><i class="fas fa-star"></i></button>
      <button type="button" class="btn btn-default btn-sm" value="5"><i class="fas fa-star"></i></button>
    </div>
{% endif %}

