{% extends "shop/base.html" %}
{% load custom_filters %}
{% block title %}Payment completed{% endblock %}
{% block subheader %} {% endblock %}
{% block content %}
  <h1>Your payment was successful</h1>
  <p>Your payment has been processed successfully.</p>

  <p>
    Email with details has been sent to: {{ order.email }}
  </p>

  <h2>Order summary:</h2>
  <ul>
  {% for item in order_items %}
    <li>{{ item|total_price }}</li>
  {% endfor %}
  </ul>

  <p>Delivery charge: {{ delivery_charge }}</p>
  <p>Total cost: {{ total_cost }}</p>
  {% if coupon_code %}
    <p>Coupon code: {{ coupon_code }}</p>
    
  {% endif %}
{% endblock %}
